@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Instrument+Serif:ital@0;1&display=swap');

html,
body,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Google Sans', sans-serif;
	background-color: #f9f9f9;
	color: #333;
	line-height: 1.6;
}

.wrapper {
	max-width: 60rem;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-family: 'Instrument Serif', serif;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

p {
	font-size: 16px;
}
